`map()`是`Series对象`的一个函数，DataFrame中没有map()，map()的功能是将一个自定义函数作用于`Series对象的每个元素`。

`apply()`函数的功能是将一个自定义函数作用于`DataFrame的行或者列`

`applymap()`函数的功能是将自定义函数作用于DataFrame的所有元素

### groupby函数

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame({'Q':['LI','ZHANG','ZHANG','LI','WANG'], 'A' : [1,1,1,2,2], 'B' : [1,-1,0,1,2], 'C' : [3,4,5,6,7]})

In [14]:
df

       Q  A  B  C
0     LI  1  1  3
1  ZHANG  1 -1  4
2  ZHANG  1  0  5
3     LI  2  1  6
4   WANG  2  2  7

In [16]:
Q_groupby = df.groupby('Q').apply(lambda x: print(x))
Q_groupby

    Q  A  B  C
0  LI  1  1  3
3  LI  2  1  6
      Q  A  B  C
4  WANG  2  2  7
       Q  A  B  C
1  ZHANG  1 -1  4
2  ZHANG  1  0  5

Empty DataFrame
Columns: []
Index: []