In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                    'key2' : ['one', 'two', 'one', 'two', 'one'],
                    'data1' : np.random.randn(5),
                    'data2' : np.random.randn(5)})

In [3]:
df

  key1 key2     data1     data2
0    a  one  0.835582  0.665559
1    a  two  0.645838  1.375519
2    b  one  1.147279 -0.646987
3    b  two -0.652207  0.259366
4    a  one  0.179300 -0.664644

In [7]:
df.groupby('key1')['data1'].mean()

key1
a    0.553573
b    0.247536
Name: data1, dtype: float64

In [8]:
means = df.groupby(['key1', 'key2'])['data1'].mean()

In [9]:
means.unstack()

key2       one       two
key1
a     0.507441  0.645838
b     1.147279 -0.652207